@import url("https://use.typekit.net/jwz6ngz.css");

body {
    background: #f3e9d6;
    font-family: "brandon-grotesque", "Trebuchet MS", sans-serif;
}

/* button {
    font-family: "brandon-grotesque", sans-serif;
    font-weight: bold;
    background-color: #265573;
    color: white;
    border: none;
    border-radius: 4px;
} */

button{
    font-family: "brandon-grotesque", "Trebuchet MS", sans-serif;
    font-weight: bold;
    background-image: url('/../imgs/Assign-Train-FireWorkers.png');
    border: none;
    background-size: 100% 100%;
    background-color: #26557300;
}
.nextArrow{
    font-size: 0;
    background-image: url('/../imgs/Next.png');
    border: none;
    background-size: 100% 100%;
    float:right;
    width: 100px;
    height: 50px;
}
.backArrow{
    font-size: 0;
    background-image: url('/../imgs/Back.png');
    border: none;
    background-size: 100% 100%;
    float:left;;
    width: 100px;
    height: 50px;
}
.submitButton{
    font-size: 0;
    background-image: url('/../imgs/Check Mark.png');
    border: none;
    background-size: 100% 100%;
    float:right;;
    width: 50px;
    height: 50px;
}

input {
    font-family: "brandon-grotesque", "Trebuchet MS", sans-serif;
}

#events{
    margin: 0;
}

.img-button {
    border: none;
    width: 196px;
    height: 56px;
    font-size: 17px;
    background-size: cover;
    text-align: left;
    font-weight: bold;
    font-family: "brandon-grotesque", sans-serif;
    display: block;
    margin: 5px auto;
}

:disabled {
    opacity: 0.5;
}

#homePage img{
    display: block;
    margin: auto;
    width: 100%;
}

#trade-button {
    color: #265573;
    background-image: url(../../imgs/trade.png);
}

#pay-button {
    color: #20581b;
    background-image: url(../../imgs/pay.png);
}

#end-button {
    color: #97161b;
    background-image: url(../../imgs/end.png);
}

.rps-wrapper{
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    margin: 0;
    width: 350px;
}

#guestJoinPage, #guestWaitPage {
    padding: 0;
    margin: 0;
    text-align: center;
}

/*.code-wrapper{
    background: white;
    border: 1px solid black;
    margin: 0;
    padding: 0;
}*/

.code-wrapper img{
      margin: 0;
    padding: 0;
    width: 350px;
    height: 140px;
}

.code-wrapper input#room-code{
      position: relative;
    border: none;
    border-bottom: 8px dashed black;
    width: 75px;
    height: 50px;
    margin-bottom: 50px;
    background: none;
    margin-top: 0;
    padding: 0;
    text-align: center;
    left: auto;
    font-size: 35px;
    border-color: orange;
    transform: translateX(0);
}

.code-wrapper #room-code{
      position: relative;
    border: none;
    margin: auto;
    height: 50px;
    margin-bottom: 50px;
    background: none;
    margin-top: 0;
    padding: 0;
    text-align: center;
    left: auto;
    font-size: 35px;
    border-color: orange;
    transform: translateX(0);
    
}

#guestJoinPage h2, #guestWaitPage h2{
      font-weight: normal;
    font-size: 25px;
    margin: 10px;
    color: darkorange;
    margin-top: 100px;
}

#guestJoinPage h3{
     font-weight: normal;
    font-size: 15px;
    margin: 10px;
}

#guestWaitPage h3{
    font-weight: normal;
    font-size: 15px;
    margin: 10px;
    color: white;
}

.name-wrapper{
}

.name-wrapper input{
      border: none;
    border: 3px solid darkslategrey;
    margin-bottom: 20px;
    padding-left: 25px;
    height: 50px;
    width: 325px;
}

.button-wrapper {
    margin-top: 30px;
}

.button-wrapper #join-button{
    border: none;
    background: url('/imgs/Join.png');
    background-size: 100% 100%;
    color: black;
    font-size: 30px;
    width: 100%;
    margin-top: 10px;
    padding: 0;
    height: 100px;
}

.button-wrapper #host-button{
    border: none;
    background: url('/imgs/Host.png');
    background-size: 100% 100%;
    color: black;
    font-size: 30px;
    width: 100%;
    margin-top: 10px;
    padding: 0;
    height: 100px;
}

.input-wrapper{
    display: block;
    width: 300px;
    height: 50px;
    margin: 25px auto;
}

.input-wrapper.skinny{
    width: 250px;
}

.input-wrapper.smallest{
    width: 180px;
}

.input-wrapper #submit{
    border-style: none;
    width: 50px;
    height: 50px;
    float: right;
    margin: 0 25px;
    background: url('/imgs/Check Mark.png');
    background-size: 100% 100%;
    font-size: 0;
}
.input-wrapper #cancel{
    border-style: none;
    width: 100px;
    height: 50px;
    float: left;
    margin: 0 25px;
    background: url('/imgs/Back.png');
    background-size: 100% 100%;
    font-size: 0;
}

#chooseCompanyPage{
    
}

#chooseCompanyPage input[type="radio"]{
    visibility: hidden;
    position: absolute;
}

#chooseCompanyPage input[type=radio] + label:before{
  height:100px;
  width:100px;
  margin: 25px auto 0;
  content: " ";
  display:inline-block;
  vertical-align: baseline;
  /*background:url(/../../imgs/wipPortrait.jpg) left top no-repeat;*/
    background-size: 100% 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.company-wrapper #choice1 + label:before{
    background:url(/../../imgs/Icon_CON.png) left top no-repeat;
}

.company-wrapper #choice2 + label:before{
    background:url(/../../imgs/Icon_MANU.png) left top no-repeat;
}

.company-wrapper #choice3 + label:before{
    background:url(/../../imgs/Icon_IT.png) left top no-repeat;
}

.company-wrapper #choice4 + label:before{
    background:url(/../../imgs/Icon_HS.png) left top no-repeat;
}

#chooseCompanyPage .company-wrapper{
    position: relative;
    display:block;
    margin:0 15px;
}

#chooseCompanyPage input[type=radio]:checked + label:before{
  background:white;
}

#chooseCompanyPage .company-wrapper span{
    text-align: center;
    width:100%;
    position:absolute;
    left:0;
}

#chooseCompanyPage .wrapper-wrapper{
    width: 50%;
    margin:auto;
    height: 125px;
}

#chooseCompanyPage h1{
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    margin-bottom: 100px;
}

#chooseCompanyPage .wrapper-wrapper .company-wrapper{
    display: inline;
}

#chooseCompanyPage .left{
    position: absolute;
    left:0;
}

#chooseCompanyPage .right{
    position: absolute;
    right:0;
}

#confirmCompanyPage img{
    display: block;
    width: auto;
    height: calc(279px * (227 / 255));
    margin: 0 auto;
}

#confirmCompanyPage img{
    display: block;
    width: auto;
    height: calc(279px * (227 / 255));
    margin: 0 auto;
}

#confirmCompanyPage p{
    width: 300px;
    text-align: center;
    margin:auto;
}

#confirmCompanyPage .info-wrapper h1, #confirmCompanyPage .info-wrapper h1{
    font-weight: normal;
    font-size: 15px;
    text-align: center;
}

#workerDetailsPage .info-wrapper img{
    text-align: center;
    width: 227px;
    height: calc(279px * (227 / 255));
    padding: 0;
    border-style: solid;
    border-width: 2px;
    display: block;
    margin: 0 auto 10px;
}

#workerDetailsPage .info-wrapper div{
    position: relative;
    left: 30%;
}

#workerDetailsPage #type{
    text-align: center;
    font-size: 25px;
    left: 0;
    margin-bottom: 10px;
}

#workerDrawPage #manu button{
    visibility: hidden;
    margin: 50px 0 0 0;
}

#workerDrawPage #manu #submit{
    visibility: visible;
    margin: auto;
    width: 100px;
    height: 50px;
    position: relative;
    display: block;
}

#workerDrawPage h1{
    text-align: center;
}

#workerDrawPage button img{
    margin: auto;
    width: 150px;
    height: 150px;
    visibility: visible;
}

#workerDrawPage #worker-1, #workerDrawPage #worker-3{
    float: left;
}

#workerDrawPage #worker-2, #workerDrawPage #worker-4{
    float: right;
}

#workerDrawPage #worker-3.center, #workerDrawPage #worker-1.center{
    display: block;
    margin: auto;
    float: none;
}

#projectDetailsPage .info-wrapper img, #statusPage .info-wrapper img{
    text-align: center;
    width: 227px;
    height: calc(279px * (227 / 255));
    padding: 0;
    border-style: solid;
    border-width: 2px;
    display: block;
    margin: 0 auto 10px;
}

#projectDetailsPage .info-wrapper div, #statusPage .info-wrapper div{
    position: relative;
    left: 30%;
}

#projectDetailsPage #type, #statusPage #type{
    text-align: center;
    font-size: 25px;
    left: 0;
    margin-bottom: 10px;
}

#workerDrawPage h2, #projectDrawPage h2{
    font-size: 15px;
    margin: 0;
}

#projectDrawPage #manu button{
    visibility: hidden;
    margin: 50px 0 0 0;
}

#projectDrawPage #manu #submit{
    visibility: visible;
    margin: auto;
    width: 50px;
    height: 50px;
    position: relative;
}

#projectDrawPage #manu #cancel{
    visibility: visible;
    margin: auto;
    width: 100px;
    height: 50px;
    position: relative;
}

#projectDrawPage h1{
    text-align: center;
}

#projectDrawPage button img{
    margin: auto;
    width: 150px;
    height: 150px;
    visibility: visible;
}

#projectDrawPage #project-1, #projectDrawPage #project-3{
    float: left;
}

#projectDrawPage #project-2, #projectDrawPage #project-4{
    float: right;
}

#projectDrawPage #project-3.center, #projectDrawPage #project-1.center{
    display: block;
    margin: auto;
    float: none
}

.header{
    width: 300px;
    margin: 0 auto 70px auto;
}

.header button{
    border: none;
}

.header #goals{
    visibility: hidden;
}

.header #worker-button{
    width: 50px;
    height: 50px;
    background: url('/../../imgs/Workers & Projects.png') left top no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    transform: translateX(50%);
}

.header #events-button{
    width: 50px;
    height: 50px;
    background: url('/../../imgs/Events icon.png') left top no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 30%;
}

.header #money{
    position: absolute;
    left: 100%;
    top: 2px;
    font-size: 40px;
    text-align: center;
    transform: translateX(-125%);
}

.header #goal-button{
    width: 40px;
    height: 40px;
    background: url('/../../imgs/Goals icon.png') left top no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 60%;
    transform: translateX(-50%);
    margin-top: 6px;
}

.checkWorkerPage img{
    width: 90%;
    margin: 5%;
    padding: 0;
}

.checkWorkerPage #workers, .checkWorkerPage #Projects, .checkWorkerPage #workers2, .checkWorkerPage #Projects2 {
    display: table;
    width: 100%;
    height: 33%;
    table-layout: fixed;
}

.checkWorkerPage span{
    display: table-cell;
    text-align: center;
}

.checkWorkerPage span span{
    width: 100%;
    font-size: 15px;
    padding-left: 5px;
}

.checkWorkerPage .center{
    display: block;
    margin: auto;
}

.checkWorkerPage h1{
    font-size: 20px;
    text-align: center;
}

#workAssign.checkWorkerPage h1{
    font-size: 15px;
    text-align: center;
}

.checkWorkerPage .header p{
    top: 30px;
    position: relative;
    margin: 0;
    text-align: center;
}

#workAssign.checkWorkerPage .header p{
    font-size: 15px;
}

#projComp.checkWorkerPage .header p{
    font-size: 15px;
}

#projectCompletePage img{
    width: 50px;
    height: 50px;
}

#statusPage h1{
    font-size: 14px;
    margin-bottom: 3px;
}

#statusPage span img{
    width: 45px;
    padding: 0;
}

#statusPage .input-wrapper span{
    width: 50px;
    display: table-cell;
    padding: 0 2px;
}

#statusPage #project img{
    width: 150px;
    height: 150px;
}

#statusPage #typeHolder{
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
}

#statusPage #type{
    display: block;
    margin: 0;
}

#endTurnPage .header{
    float: left;
}

#endTurnPage .header #worker-button{
    width: 300px;
    height: 72px;
    background: url('/../imgs/Mangement Button.png') left top no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    top: 200px;
    transform: translateX(0%);
     font-size: 20px;
    color: #00000090;
     padding-left: 100px;
}

#endTurnPage .header #events-button{
    width: 300px;
    height: 72px;
    background: url('/../imgs/Events Button.png') left top no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    top: 300px;
    transform: translateX(0%);
     font-size: 20px;
    color: #00000090;
     padding-left: 100px;
}

#endTurnPage .header #money{
    position: absolute;
    left: 250px;
    top: 10px;
    font-size: 40px;
    text-align: center;
    transform: translateX(0%);
}

#endTurnPage .header #goal-button{
    width: 300px;
    height: 72px;
    background: url('/../imgs/Goals Button.png') left top no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    top: 400px;
    transform: translateX(0%);
    margin: 5px;
     font-size: 20px;
    color: #00000090;
     padding-left: 100px;
}


#endTurnPage button{
    border: none;
    width: 196px;
    height: 56px;
    font-size: 17px;
    background-size: cover;
    text-align: left;
    font-weight: bold;
    font-family: "brandon-grotesque", sans-serif;
    display: block;
    margin: 5px auto;
}

#endTurnPage .input-wrapper{
      top: 250px;
    position: relative;
    transform: scaleX(1.25) scaleY(1.25);
}

.header #name{
    
    margin-left: 15px;
    font-size: 25px;
}

.green {
    color:#00a656;
}

.red {
    color:#ee1951;
}

.grey{
    color:#4e4e4e;
}

#winPage{
    text-align: center;
}

#winPage h1{
    margin-top: 200px;
    margin-bottom: 50px;
}

#goalPage h1{
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
}

#goalPage h3{
    font-size: 15px;
    margin-top: 5px;
}

#goalPage p{
    margin-top: 5px;
}

#goalPage .header{
    margin-bottom: 50px;
}

#hostPage, #hostWaitPage{
    text-align: center;
}

#hostPage h1, #hostWaitPage h1{
    font-size: 50px;
}

#hostPage h4{
    font-size: 30px;
}

#hostWaitPage span img{
    width: 50px;
    height: 50px;
}

#hostWaitPage li{
    list-style: none;
    padding: 0;
    margin: 0;
}

#hostWaitPage ul{
    padding: 0;
}

#eventPage .info-wrapper{
      background: url(/../imgs/newspaper_02.png);
    background-size: 100% 100%;
    height: 400px;
    padding-left: 100px;
    padding-top: 50px;
    padding-right: 25px;
}

#eventPage h1{
      color: white;
    font-size: 25px;
    margin-bottom: 50px;
}

.waitGif {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
}

#waitCompanyPage{
    text-align: center;
}

.flash-button{
	
	animation-name: flash;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	/*/Firefox 1+*/
	-webkit-animation-name: flash;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	/*/Safari 3-4*/
	-moz-animation-name: flash;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
}

.flash-button:disabled{
	
	animation-name: flash;
	animation-duration: 0s;
	animation-timing-function: linear;
	animation-iteration-count: 0;

	/*/Firefox 1+*/
	-webkit-animation-name: flash;
	-webkit-animation-duration: 0s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: 0;

	/*/Safari 3-4*/
	-moz-animation-name: flash;
	-moz-animation-duration: 0s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: 0;
}

@keyframes flash {  
    0% { opacity: 1.0; 
     outline: solid 15px white;}
    50% { opacity: 0.5; 
     outline: solid 0 white;}
    100% { opacity: 1.0; 
     outline: solid 15px white;}
}

/*/Firefox 1+*/
@-webkit-keyframes flash {  
    0% { opacity: 1.0; 
     outline: solid 15px white;}
    50% { opacity: 0.5; 
     outline: solid 0 white;}
    100% { opacity: 1.0; 
     outline: solid 15px white;}
}

/*/Safari 3-4*/
@-moz-keyframes flash {  
    0% { opacity: 1.0; 
     outline: solid 15px white;}
    50% { opacity: 0.5; 
     outline: solid 0 white;}
    100% { opacity: 1.0; 
     outline: solid 15px white;}
}

.full-hidden{
    display: none;
}

.red-outline{
    outline: solid 5px #f55;
}

.green-outline{
    outline: solid 5px #9f9;
}

.blue-outline{
    outline: solid 5px #55f;
}

.purple-outline{
    outline: solid 5px #f9f;
}

.teal-outline{
    outline: solid 5px #9ff;
}

.header #tip{
    margin: 0;
    height: 75px;
    text-align: center;
}

#hostWaitPage span{
    display: table-cell;
    height: 200px;
    width: 50px;
}

#hostWaitPage #player-visuals{
      display: table;
    width: 100%;
    height: 33%;
}

#hostWaitPage span span{
    
      width: 100%;
    text-align: center;
    display: block;
}