
        
        <!–– and the comment closes with ––>
        
    <div class="checkWorkerPage">
	<ul id="events"></ul>
      <div class="header">
        <button id="worker-button"></button>
        <button id="events-button"></button>
        <span id="money">0</span>
        <button id="goal-button"></button>
        <div></div>
        <span id="goals">0</span>
      </div>
        
      <div class="input-wrapper" id="checkWorkerList">
        <h1>Workers</h1>
          <div id="workers">
          </div>
          <div id="workers2">
          </div>
        <h1>Projects</h1>
          <div id="Projects">
          </div>
          <div id="Projects2">
          </div>
          <div>
            <button id="cancel">BACK</button>
          </div>
      </div>
        
        <div id ="footer">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        </div>
      </div>
        
        <!–– and the comment closes with ––>
