
        
        <!–– and the comment closes with ––>
        
    <div id="chooseCompanyPage">
	<ul id="events"></ul>
      <div class="title-wrapper">
        <h1>CHOOSE YOUR COMPANY TYPE!</h1>
      </div>
      <div class="choice-wrapper">
          <div>
            <div class="company-wrapper">
                <input type="radio" id="choice1"
                 name="company" value="cons">
                <label for="choice1"><span>Construction</span></label>
            </div>
            <div class="wrapper-wrapper">
                <span class="company-wrapper left">
                    <input type="radio" id="choice2"
                     name="company" value="manu">
                    <label for="choice2"><span>Manufacturing</span></label>
                </span>
                <span class="company-wrapper right">
                    <input type="radio" id="choice3"
                     name="company" value="i.t.">
                    <label for="choice3"><span>IT</span></label>
                </span>
            </div>
            <div class="company-wrapper">
                <input type="radio" id="choice4"
                 name="company" value="heal">
                <label for="choice4"><span>Health</span></label>
            </div>
          </div>
      </div>
      </div>
        
        <!–– and the comment closes with ––>
