
        
        <!–– and the comment closes with ––>
        
    <div id="confirmCompanyPage">
	<ul id="events"></ul>
      <div class="info-wrapper" id="manu">        
          <img src="/../../imgs/Icon_MANU.png"/>
          <h1>Leadership Benefits</h1>
          <p>Manufacturing team leaders provide a bonus +1 efficiency to the workers they are paired with.</p>
      </div>
      <div class="info-wrapper" id="cons">        
          <img src="/../../imgs/Icon_CON.png"/>

          <h1>Recruitment</h1>
          <p>Initial cost of specifically construction workers are -2.</p>
      </div>
      <div class="info-wrapper" id="i.t.">        
          <img src="/../../imgs/Icon_IT.png"/>

          <h1>Synergy</h1>
          <p>If you own more than 2 IT workers, projects yield a +1 profit for every IT worker you own.</p>
      </div>
      <div class="info-wrapper" id="heal">        
          <img src="/../../imgs/Icon_HS.png"/>

          <h1>Job Stability</h1>
          <p>Health service workers cannot be forcibly lost.</p>
      </div>
      <div class="input-wrapper">
          <div>
            <button id="submit"></button>
            <button id="cancel"></button>
          </div>
      </div>
      </div>
        
        <!–– and the comment closes with ––>
