
        
        <!–– and the comment closes with ––>
        
    <div id="projectDrawPage">
	<ul id="events"></ul>
      <div class="header">
        <button id="worker-button"></button>
        <button id="events-button"></button>
        <span id="money">0</span>
        <button id="goal-button"></button>
        <div></div>
        <span id="goals">0</span>
      </div>
      <div class="draw-wrapper" id="manu">
        <h1>Choose Your Project</h1>
        <h2 id='update'>You may choose to take on one or more projects. When finished, hit 'Submit'!</h2>
        <button id="project-1"><img src ='' id='img1'></button>
        <button id="project-2"><img src ='' id='img2'></button>
          <div></div>
        <button id="project-3"><img src ='' id='img3'></button>
        <button id="project-4"><img src ='' id='img4'></button>
          <div></div>
        <button id="cancel" class="backArrow">BACK</button>
        <button id="submit" class="submitButton">SUBMIT</button>
      </div>
        <div id ="footer">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        </div>
      </div>
        
        <!–– and the comment closes with ––>
