
        
        <!–– and the comment closes with ––>
        
    <div id="workerDrawPage">
	<ul id="events"></ul>
      <div class="header">
        <button id="worker-button"></button>
        <button id="events-button"></button>
        <span id="money">0</span>
        <button id="goal-button"></button>
        <div></div>
        <span id="goals">0</span>
      </div>
      <div class="draw-wrapper" id="manu">
        <h1>Draw of the Day</h1>
        <h2 id='update'>You may choose to hire one or more workers. When finished, hit 'Next'!</h2>
        <button id="worker-1"><img src ='' id='img1'></button>
        <button id="worker-2"><img src ='' id='img2'></button>
          <div></div>
        <button id="worker-3"><img src ='' id='img3'></button>
        <button id="worker-4"><img src ='' id='img4'></button>
          <div></div>
        <button id="submit" class="nextArrow">NEXT</button>
      </div>
        <div id ="footer">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        </div>
      </div>
        
        <!–– and the comment closes with ––>
