<!–– and the comment closes with ––>

<div id="endTurnPage">
  <ul id="events"></ul>
      <div class="header">
        <button id="worker-button">MANAGEMENT</button>
        <button id="events-button">CURRENT EVENTS</button>
        <span id="name"></span>
        <span id="money">0</span>
        <button id="goal-button">GOALS &amp; ABILITIES</button>
        <div></div>
        <span id="goals">0</span>
          <p id='tip'>You haven't checked your workers and projects yet!  Be sure to assign workers to any projects you need done.</p>
      </div>

  <div class="input-wrapper">
    <!-- <button class="img-button" id="trade-button">WORK ASSIGN</button>
    <div></div> -->
    <button class="img-button" id="pay-button">PAY WORKERS</button>
    <div></div>
    <button class="img-button" id="end-button">END TURN</button>
  </div>

  <div id="footer">
    <img src="sdlkfsdlk">
    <img src="sdlkfsdlk">
    <img src="sdlkfsdlk">
    <img src="sdlkfsdlk">
    <img src="sdlkfsdlk">
  </div>
</div>

<!–– and the comment closes with ––>