
        
        <!–– and the comment closes with ––>
        
    <div id="eventPage">
	<ul id="events"></ul>
      <div class="header">
        <button id="worker-button"></button>
        <button id="events-button"></button>
        <span id="money">0</span>
        <button id="goal-button"></button>
        <div></div>
        <span id="goals">0</span>
      </div>
        
      <div class="info-wrapper" id="manu">
          <h1 id="name">EVENT CARD</h1>
          
          <div id="description">Description</div>
          <button id="submit">SUBMIT</button>
      </div>
        
        <div id ="footer">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        </div>
      </div>
        
        <!–– and the comment closes with ––>
