
        
        <!–– and the comment closes with ––>
        
    <div id="forceFirePage" class="checkWorkerPage">
	<ul id="events"></ul>
      <div class="header">
        <button id="worker-button"></button>
        <button id="events-button"></button>
        <span id="money">0</span>
        <button id="goal-button"></button>
        <div></div>
        <span id="goals">0</span>
      </div>
        
      <div class="info-wrapper" id="project">
        <h1 id="reason">You have hit -$10.  You must fire a worker to continue.</h1>
      </div>
      <div class="input-wrapper">
          <div id="workers">
          </div>
          <div id="workers2">
          </div>
      </div>
        
        <div id ="footer">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        </div>
      </div>
        
        <!–– and the comment closes with ––>
