
        
        <!–– and the comment closes with ––>
        
    <div id="goalPage">
	<ul id="events"></ul>
      <div class="header">
        <button id="worker-button"></button>
        <button id="events-button"></button>
        <span id="money">0</span>
        <button id="goal-button"></button>
        <div></div>
        <span id="goals">0</span>
      </div>
        <h1>Your Ability</h1>
        <span id="manuAbility">
            <h3>Leadership Benefits</h3>
            <p>Manufacturing team leaders provide a bonus +1 efficiency to the workers they are paired with.</p>
        </span>
        <span id="i.t.Ability">
            <h3>Synergy</h3>
            <p>If you own more than 2 IT workers, projects yield a +1 profit for every IT worker you own.</p>
        </span>
        <span id="consAbility">
            <h3>Recruitment</h3>
            <p>Initial cost of specifically construction workers are -2.</p>
        </span>
        <span id="healAbility">
            <h3>Job Stability</h3>
            <p>Health service workers cannot be forcibly lost.</p>
        </span>
      <div class="draw-wrapper" id="manu">
        <h1>Victory Progress</h1>
        <h2 id='update'></h2>
        <h3>Money progress:</h3>
        <p id="goal-1"></p>
        <h3>Diversity progress:</h3>
        <p id="goal-2"></p>
        <h3>Project progress:</h3>
        <p id="goal-3"></p>
        <h3>Leadership progress:</h3>
        <p id="goal-4"></p>
          <div></div>
        <button id="cancel" class="backArrow">BACK</button>
      </div>
        <div id ="footer">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        </div>
      </div>
        
        <!–– and the comment closes with ––>
