
        
        <!–– and the comment closes with ––>
        
    <div id="edTurnPage">
	<ul id="events"></ul>
      <div class="header">
        <button id="worker-button"></button>
        <button id="events-button"></button>
        <span id="money">0</span>
        <button id="goal-button"></button>
        <div></div>
        <span id="goals">0</span>
      </div>
        
      <div class="warning-wrapper">
          <p>Are you sure you are ready to pay your workers?  Players with a money total below $25 cannot win the game, and players who hit -$10 will be forced to fire a worker.  If you can't afford to pay all your workers, it's okay to fire one manually before paying.</p>
          <h4>This round your worker's combined salaries will cost you $<span id="cost"></span> and will leave you with $<span id="remaining"></span> after this turn.</h4>
          <div class="input-wrapper">
              <div>
                <button id="submit">Submit</button>
                <button id="cancel">Cancel</button>
              </div>
          </div>
      </div>
        
        <div id ="footer">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        </div>
      </div>
        
        <!–– and the comment closes with ––>
