
        
        <!–– and the comment closes with ––>
        
    <div id="projectDetailsPage">
	<ul id="events"></ul>
      <div class="header">
        <button id="worker-button"></button>
        <button id="events-button"></button>
        <span id="money">0</span>
        <button id="goal-button"></button>
        <div></div>
        <span id="goals">0</span>
      </div>
      <div class="info-wrapper" id="manu">
        <img id="img" src="/../../imgs/wipPortrait.jpg">
          <div id="type"></div>
          <div>Profit:<span id="payoff"></span></div>
          <div>Duration:<span id="duration"></span></div>
          <div>Tier:<span id="tier"></span></div>
      </div>
      <div class="input-wrapper">
          <div>
            <button id="submit"></button>
            <button id="cancel"></button>
          </div>
      </div>
        <div id ="footer">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        </div>
      </div>
        
        <!–– and the comment closes with ––>
