
        
        <!–– and the comment closes with ––>
        
    <div class="checkWorkerPage" id="projComp">
	<ul id="events"></ul>
      <div class="header">
        <button id="worker-button"></button>
        <button id="events-button"></button>
        <span id="money">0</span>
        <button id="goal-button"></button>
        <div></div>
        <span id="goals">0</span>
          <p id='update'>Select a worker to see additional information about them.  Select a project to assign workers to it.</p>
      </div>
        
      <div class="input-wrapper" id="checkWorkerList">
        <h1 id='header1'>Completed Projects</h1>
          <div id="doneProjects"></div>
        <h1 id='header2'>Active Projects</h1>
          <div id="wipProjects"></div>
          <div>
            <button id="submit">SUBMIT</button>
          </div>
      </div>
        
        <div id ="footer">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        </div>
      </div>
        
        <!–– and the comment closes with ––>
