
        
        <!–– and the comment closes with ––>
        
    <div id="statusPage">
	<ul id="events"></ul>
      <div class="header">
        <button id="worker-button"></button>
        <button id="events-button"></button>
        <span id="money">0</span>
        <button id="goal-button"></button>
        <div></div>
        <span id="goals">0</span>
      </div>
        
      <div class="info-wrapper" id="project">
        <img id="img" src="/../../imgs/wipPortrait.jpg">
          <div id="typeHolder"><span id="type"></span></div>
          <div>Profit:<span id="payoff"></span></div>
          <div>Duration:<span id="duration"></span></div>
          <div>Tier:<span id="tier"></span></div>
      </div>
      <div class="input-wrapper">
          <div id="workersHere"><h1>Workers assigned to this project.</h1></div>
          <div id="workersOther"><h1>Workers assigned to other projects.  Tap one to change their project to this project.</h1></div>
          <div id="workersTrain"><h1>Compatible workers in training.  Tap one to end their training and put them on this project.</h1></div>
          <div>
            <button id="cancel">cancel</button>
          </div>
      </div>
        
        <div id ="footer">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        </div>
      </div>
        
        <!–– and the comment closes with ––>
