<!–– and the comment closes with ––>

<div id="tradePage">
  <ul id="events"></ul>
      <div class="header">
        <button id="worker-button"></button>
        <button id="events-button"></button>
        <span id="money">0</span>
        <button id="goal-button"></button>
        <div></div>
        <span id="goals">0</span>
      </div>

  <div class="input-wrapper">
    <button class="img-button" id="trade-button">MAKE A TRADE</button>
    <div></div>
    <button class="img-button" id="pay-button">PAY WORKERS</button>
    <div></div>
    <button class="img-button" id="end-button">END TURN</button>
  </div>

  <div id="footer">
    <img src="sdlkfsdlk">
    <img src="sdlkfsdlk">
    <img src="sdlkfsdlk">
    <img src="sdlkfsdlk">
    <img src="sdlkfsdlk">
  </div>
</div>

<!–– and the comment closes with ––>