
        
        <!–– and the comment closes with ––>
        
    <div id="waitCompanyPage">
	<ul id="events"></ul>
      <div class="info-wrapper" id="heal">
        
        <h1>Health</h1>
        <p><img class="waitGif" src="/../imgs/Waiting_02.gif"></p>
      </div>
      <div class="info-wrapper" id="i.t.">
        
        <h1>IT</h1>
        <p><img class="waitGif" src="/../imgs/Waiting_02.gif"></p>
      </div>
      <div class="info-wrapper" id="cons">
        
        <h1>Construction</h1>
        <p><img class="waitGif" src="/../imgs/Waiting_02.gif"></p>
      </div>
      <div class="info-wrapper" id="manu">
        
        <h1>Manufacturing</h1>
        <p><img class="waitGif" src="/../imgs/Waiting_02.gif"></p>
      </div>
    </div>
        
        <!–– and the comment closes with ––>
