
        
        <!–– and the comment closes with ––>
        
    <div id="winPage">
	<ul id="events"></ul>
        
      <h1>Congratulations!</h1>
        <h2>You were the first player to complete all 4 goals!</h2>
        
      </div>
        
        <!–– and the comment closes with ––>
