
        
        <!–– and the comment closes with ––>
        
    <div id="workerDetailsPage">
	<ul id="events"></ul>
      <div class="header">
        <button id="worker-button"></button>
        <button id="events-button"></button>
        <span id="money">0</span>
        <button id="goal-button"></button>
        <div></div>
        <span id="goals">0</span>
      </div>
      <div class="info-wrapper" id="manu">
        <img id="img" src="/../../imgs/Icon_MANU.png">
          <div id="type"></div>
          <div>Initial Hire Cost:<span id="hire-cost"></span></div>
          <div>Salary:<span id="salary"></span></div>
          <div>Efficiency:<span id="skill"></span></div>
          <div id="leader"><span >This worker is a team leader!</span></div>
      </div>
      <div class="input-wrapper">
          <div>
            <button id="submit"></button>
            <button id="cancel"></button>
          </div>
      </div>
        <div id ="footer">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        </div>
      </div>
        
        <!–– and the comment closes with ––>
