
        
        <!–– and the comment closes with ––>
        
    <div class="checkWorkerPage" id="workAssign">
	<ul id="events"></ul>
      <div class="header">
        <button id="worker-button"></button>
        <button id="events-button"></button>
        <span id="money">0</span>
        <button id="goal-button"></button>
        <div></div>
        <span id="goals">0</span>
          <p id="tip">It looks like you haven't looked at your project assignments yet!  Tap a project or worker to check on its status!</p>
      </div>
        
      <div class="input-wrapper" id="checkWorkerList">
        <h1>Projects (Tap to see details and assign workers)</h1>
          <div id="Projects"></div>
          <div id="Projects2"></div>
        <h1>Workers (Tap to see details, fire, or train workers)</h1>
          <div id="workers"></div>
          <div id="workers2"></div>
          <div>
            <button id="submit">SUBMIT</button>
          </div>
      </div>
        
        <div id ="footer">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        </div>
      </div>
        
        <!–– and the comment closes with ––>
