
        
        <!–– and the comment closes with ––>
        
    <div id="statusPage">
	<ul id="events"></ul>
      <div class="header">
        <button id="worker-button"></button>
        <button id="events-button"></button>
        <span id="money">0</span>
        <button id="goal-button"></button>
        <div></div>
        <span id="goals">0</span>
      </div>
        
      <div class="info-wrapper" id="worker">
        <img id="img" src="/../../imgs/wipPortrait.jpg">
          <div id="typeHolder"><span id="type"></span></div>
          <div>Salary: $<span id="salary"></span></div>
          <div>Efficiency: <span id="skill"></span></div>
          <p id="leader">This worker is a team leader!</p>
          <p id="sick">This worker is sick and cannot work...</p>
          <button id="project-button">Assigned Project</button>
      </div>
      <div class="input-wrapper">
          <button id="train-button">Train Worker</button>
          <button id="fire-button">Fire Worker</button>
          <button id="modify-button">Select Worker</button>
          <button id="cancel">Back</button>
      </div>
        
        <div id ="footer">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        <img src="sdlkfsdlk">
        </div>
      </div>
        
        <!–– and the comment closes with ––>
