<!–– and the comment closes with ––>
        
      <div id="guestPage">
      <div class="header-wrapper">
      	<h4>You are playing as</h4>
        <h3 id="playerID">Your Name</h3>
      	<p class="rscr" id="rscr0">Money: 0</p>
      	<p class="rscr" id="rscr1">Education: 0</p>
      	<p class="rscr" id="rscr2">V-Points: 0</p>
        <h2 id="event">Event!</h2>
      </div>
      <div class="input-wrapper">
        <button id="schl-bttn">Invest in your education.</button>
        <button id="work-bttn">Work to earn money.</button>
        <button id="trde-bttn">Trade with another player.</button>
        <button id="auct-bttn">Auction with all players.</button>
      </div>

      <div class="events-wrapper">
         <ul id="events"></ul>
      </div>      
      </div>
        
        <!–– and the comment closes with ––>
