<!–– and the comment closes with ––>

<div id="guestJoinPage">
  <ul id="events"></ul>

  <div class="code-wrapper">
    <img src="/../imgs/logo.png" width="200px" height="81px">
    <h2 id="romecode-entry">Enter Room Code</h2>
    <input id="room-code" />
  </div>

  <div class="name-wrapper">
    <input id="name-field" placeholder="YOUR NAME"/>

  </div>

  <div class="button-wrapper">
    <button id="join-button">PLAY</button>
  </div>

  <div class="error-wrapper" id="client-error">
  </div>
</div>

<!–– and the comment closes with ––>