<!–– and the comment closes with ––>

<div id="guestWaitPage">
  <ul id="events"></ul>

  <div class="code-wrapper">
    <img src="/../imgs/logo.png" width="200px" height="81px">
    <h2>You're in</h2>
    <div id="room-code">1234</div>
  </div>

  <div class="name-wrapper">

  </div>

  <div class="button-wrapper">
    <div id="join-button"><img class="waitGif" src="/../imgs/Waiting_02.gif"></div>
  </div>

  <div class="error-wrapper" id="client-error">
  </div>
</div>

<!–– and the comment closes with ––>