
        <!–– and the comment closes with ––>
        
    <div id="homePage">
	<ul id="events"></ul>
     
     <div class="header-wrapper">
         <img src="imgs/logo.png">
      <h2>Would you like to host a new session or join a current session?</h2>
      <h3>Please make sure that the host device is stable and will not enter sleep mode.</h3>
     </div>

     <div class="button-wrapper">
       <button id="host-button">Host Game</button>
       <button id="join-button">Join Game</button>

     </div>
     <div class="error-wrapper" id="client-error">
     </div>
     </div>
        
        <!–– and the comment closes with ––>