
        
        <!–– and the comment closes with ––>
        
    <div id="hostPage">
	<ul id="events"></ul>
      <div class="header-wrapper">
        <h2>Your room code is:</h2>
        <h1 id="room-code">1234</h1>
        <h3>Match On!</h3>
      </div>
      <div class="goal-wrapper">
        <h4>Get ready to dominate the workforce!</h4>
        <h5 id="objective"></h5>
      </div>
      <div class="leaderboard-wrapper">
        
      </div>
      </div>
        
        <!–– and the comment closes with ––>

    