<!–– and the comment closes with ––>

<div id="hostWaitPage">
  <ul id="events"></ul>
  <div class="roominfo-wrapper">
    <img src="/../imgs/logo.png" width="200px" height="81px">
    <h2>Room Code:</h2>
    <h1 id="room-code">1234</h1>
  </div>
  <div class="start-wrapper">
    <button id="start-button">Start Game</button>
  </div>
  <div class="players-wrapper">
    <h3 id="players-joined">Number of Players: 0</h3>
    <div id="player-visuals">

    </div>
  </div>
</div>

<!–– and the comment closes with ––>